<!DOCTYPE html>
<html>
  <head>
    <title>Lunchapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
  Signed in as <%= current_user.first_name + ' ' + current_user.last_name %>!
  <%= link_to "Sign out", signout_path %>
</br>
<% else %>
<h1> Welcome, please login to continue </h1>
<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>

    <%= yield %>

  </body>
</html>
